@charset "UTF-8";

p {
	color: white;
}

p .global {
	color: #881141;
}

.h1center {
	text-align: center;
	padding: 50px !important;
}

h2 {
	color: white !important;
}

.navbar {
    background-color: #E3F2FD !important; 
}

/* Centra tutti gli elementi nel contenitore della navbar */
.navbar .container-fluid {
    display: flex;
    justify-content: center; /* Per centrare gli elementi orizzontalmente */
    align-items: center;     /* Per centrare gli elementi verticalmente */
}

/* Stile del logo */
.navbar-brand {
    margin-right: auto; /* Imposta il logo per essere allineato a sinistra */
}

/* Mobile: gli elementi restano centrati anche sullo schermo piccolo */
@media (max-width: 992px) {
    .navbar .container-fluid {
        justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
    }
}

.custom-register-btn {
    background-color: #C2185B; 
    color: white; 
    border: 2px solid #C2185B; 
    padding: 6px 15px; 
    border-radius: 10px; 
    font-weight: bold; 
}

.custom-login-btn {
    background-color: transparent; 
    color: #C2185B; 
    border: 2px solid #C2185B; 
    padding: 6px 15px; 
    border-radius: 10px; 
    font-weight: bold; 
}

/* hover registrati */
.custom-register-btn:hover {
    background-color: transparent; 
    color: #C2185B; 
    border: 2px solid #C2185B; 
}

/* hover login */
.custom-login-btn:hover {
    background-color: #C2185B; 
    color: white; 
}

/* button ricerca */
.btn-outline-success {
	background-color: transparent;
	color: black;
	border: 2px solid #08263C; 
	padding: 5px 8px; 
	border-radius: 0px 8px 8px 0px; 
    font-weight: regular;
}
/* hover ricerca */
.btn-outline-success:hover {
	background-color: #08263C; 
	color: white;
	border: 2px solid #08263C; 
}

.form-control {
	border: 2px 2px 2px 0px solid #c0c0c0; 
	border-radius: 8px 0px 0px 8px; 
}

.navbar-collapse {
    display: flex; 
    justify-content: space-between; 
}

.navbar-collapse .d-flex {
    margin-left: auto; 
}

.footer {
    background-color: #E3F2FD !important; 
    color: #343a40; 
    text-align: center; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

#go-top {
    position: fixed;
    bottom: -50px; /* Posiziona il pulsante inizialmente fuori dallo schermo */
    right: 20px; /* Un po' di spazio a destra */
    z-index: 100; /* Un livello abbastanza alto per garantire che sia sopra gli altri elementi */
    width: 2.5rem;
    height: 2.5rem;
    background-color: #9dcff4;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

#go-top:hover {
    background-color: #ff6600;
}

#go-top.attivo {
    bottom: 20px; /* Quando è attivo, posiziona il pulsante sullo schermo */
}

				
